/* shared styles */
body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
   
}
/* header related styles */
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* nav related styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 230px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 51px;

}
nav a{
    text-decoration: none;

}
.orange{
    color: #FD6E0A;
}
.btn-primary{
    color:  #FFF;
    border-radius: 5px;
    border: 0;
background: #FD6E0A;
font-size: 20px;
font-style: normal;
font-weight: 700;
padding: 18px 35px;

}
.nav-caption{
    color: var(--Dark-01, #181818);
font-size: 45px;
font-weight: 800;
}
/* banner related styles */
.banner{
    display: flex;
    align-items: center;
    padding: 0px 38px 0px 230px;
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
}
.banner-greeting{
    color: #474747;
font-size: 45px;
font-weight: 600;
}
.banner-heading{
font-size: 85px;
font-weight: 700;
color: #181818;
}
.banner-description{
font-size: 18px;
font-weight: 400;
line-height: 30px;
color: #757575;
}

/* main styles */

/* about section styles */
.about{
    max-width:1140px ;
    border-radius: 10px;
background: #FFF8F3;
padding: 131px 157px;
/* justify-content: center;
align-items: center; */
text-align: center;
}
.about-info-container{
    display: flex;
    justify-content: center;
    margin-bottom: 130px;

}
.about-info-container div{
    margin-right: 50px;

}
/* what i do section */
.what-i-do{
    
    /* align-items: center;  */
    text-align: center;
    /* justify-content: center; */
    margin: 0px auto;
    max-width: 1140px;


}
.skill-container{
    display: flex;
    gap: 24px;
    margin-top: 20px;

}
.skills{
    text-align: left;
    padding: 30px;
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}
/* resume section styles */
.resume-information{
    display: flex;
  text-align: left;
  gap: 30px;
  margin-bottom: 30px;

}
.resume-section{
    text-align: center;
    margin: 130px 230px;

}

